<h4>Choose a brewer</h4>

<mat-form-field>
  <mat-select
    placeholder="Choose a brewer"
    (selectionChange)="onChange($event)"
    [(value)]="selected"
  >
    <mat-option *ngFor="let brewer of (brewers$ | async)" [value]="brewer">
      {{ brewer }}
    </mat-option>
  </mat-select>
</mat-form-field>

<app-spinner *ngIf="pending"></app-spinner>

<ul class="list">
  <app-beer-item *ngFor="let beer of beers" [beer]="beer"></app-beer-item>
</ul>

<button
  mat-button
  mat-raised-button
  class="load-more"
  *ngIf="showLoadMore"
  (click)="loadMore()"
  color="primary"
>
  Load more
</button>
